
@import "~aos/dist/aos.css"
@import "./GeneralStyle.sass"

.about-section-general
  width: 100%

.about-section-1
  @extend .about-section-general
  background-color: rgba(0, 0, 0, 0.9)
  background-blend-mode: darken
  background-position: right
  background-image: url('../images/code_background.jpg')
  background-repeat: none
  background-size: cover

.about-section-2
  @extend .about-section-general
  background-color: rgba(0, 0, 0, 0.9)
  background-blend-mode: darken
  background-position: right
  background-image: url('../images/homePicture-min.jpeg')
  background-repeat: none
  background-size: cover

.about-section-3
  @extend .about-section-general
  background-color: rgba(0, 0, 0, 0.9)
  background-blend-mode: darken
  background-position: right
  background-image: url('../images/lasan.jpg')
  background-repeat: none
  background-size: cover

.about-section-cover
  pointer-events: none
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 10
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.about-achievement-bracket
  @media screen and ( max-width: $media-md )
    margin-left: 8px
  &::before
    content: "["
    margin-left: -15px
    @media screen and ( min-width: $media-md )
      margin-left: -20px
    @media screen and ( min-width: $media-lg )
      margin-left: -25px
    @media screen and ( min-width: $media-xl )
      margin-left: -30px
  &::after
    content: "]"
    margin-left: 10px
    @media screen and ( min-width: $media-md )
      margin-left: 10px
    @media screen and ( min-width: $media-lg )
      margin-left: 13px
    @media screen and ( min-width: $media-xl )
      margin-left: 17px
  &::after, &::before
    color: #16a085

.about-achievement-button
  transition: .2s ease-in-out
  &:hover
    transform: scale(1.1)
    
