@import "~aos/dist/aos.css"
@import "./GeneralStyle.sass"

.about-section-general
  @apply w-screen relative flex
  min-height: 100vh
  background-position: right
  background-repeat: none
  background-size: cover
  z-index: 0
  &::before
    @apply w-full h-full absolute
    content: ""
    background-color: rgba(0, 0, 0, 1)
    opacity: 0.9
    z-index: 0

.about-section-1
  @extend .about-section-general
  background-image: url('/static/images/code_background.jpg')

.about-section-2
  @extend .about-section-general
  background-image: url('/static/images/homePicture-min.jpeg')

.about-section-3
  @extend .about-section-general
  background-image: url('/static/images/lasan.jpg')

.about-section-cover
  @apply w-screen h-full top-0 left-0 absolute pointer-events-none
  z-index: 100
  &::before
    @apply w-full h-full absolute
    content: ""
    background-color: rgba(0, 0, 0, 1)
    opacity: 0.9
    z-index: 0

.about-achievement-bracket
  @media screen and ( max-width: $media-md )
    margin-left: 8px

  &::before
    content: "["
    margin-left: -15px
    @screen md
      margin-left: -20px
    @screen lg
      margin-left: -25px
    @screen xl
      margin-left: -30px
  &::after
    content: "]"
    margin-left: 10px
    @screen md
      margin-left: 10px
    @screen lg
      margin-left: 13px
    @screen xl
      margin-left: 17px
      
  &::after, &::before
    color: #16a085

.about-achievement-button
  transition: .2s ease-in-out
  &:hover
    transform: scale(1.1)
  &:focus
    @apply outline-none
    
