.header-container
  @apply h-16 w-full fixed text-xl
  background-color: rgba(0, 0, 0, 0.3)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  z-index: 49

  @screen md
    @apply h-24
  @screen 2k
    @apply h-40



.header-fontsize
  @apply text-2xl 
  @screen xl
    @apply text-3xl
  @screen 2k
    @apply text-5xl

.header-text
  @extend .header-fontsize
  @apply text-center align-middle

.header-icon
  @extend .header-fontsize
  @apply mr-6 text-center



.header-button 
  @apply font-medium rounded inline-flex justify-center items-center relative
  &:focus
    @apply outline-none

.header-button-list-container
  @extend .header-container
  @apply hidden justify-around px-2
  @screen lg
    @apply flex
  @screen xl
    @apply px-16

.header-hamburger-button
  @extend .header-button
  @apply py-2 px-4 mx-4 text-gray-100

.header-button-active
  @extend .header-button
  @apply text-green-300
  &::before
    @apply absolute left-0 w-full
    height: 2px
    background: #42f59e
    content: ""
    bottom: 20px
    // animation: 0.25s linear 0s 1 scale-button-before

.header-button-inactive
  @extend .header-button
  @apply text-gray-100
  &:hover
    @apply text-green-200
    text-shadow: 0px 0px 10px #42f59e
    -moz-transition: all 0.2s ease-in
    -o-transition: all 0.2s ease-in
    -webkit-transition: all 0.2s ease-in
    transition: all 0.2s ease-in



@keyframes scale-button-before
  0%
    transform: scale(0)
  100%
    transform: scale(1)
