@import "~aos/dist/aos.css"
@import "./GeneralStyle.sass"

.project_intro
  background-image: url('/static/images/light-bulb-min.jpg')
  background-repeat: none
  background-size: cover
  background-color: rgba(0, 0, 0, 0.8)
  background-blend-mode: darken
  background-position: right

.project_card_button
  @apply text-sm
  &::after
    transition: 0.1s
    font-size: 0
    opacity: 0
    content: "More Info"
  &:hover::after
    opacity: 1
    @apply text-sm ml-2

    @media screen and ( min-width: $media-md )
      @apply text-lg ml-4
    @media screen and ( min-width: $media-2k )
      @apply text-xl ml-4
    
.project_lightbox_grid  
  justify-items: center
  display: flex
  justify-content: center
  flex-direction: column

  @media screen and ( min-width: $media-md )
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1em

  @media screen and ( min-width: $media-xl )
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0% 5%
  
  @screen 2k
    grid-gap: 3em
    padding: 0% 10%

// @for $i from 1 to 100
//   .project_past_card_#{$i}
//     animation-delay: #{$i * 0.2}s

.project_lightbox_card
  @apply w-screen h-screen
  background-color: rgba(0, 0, 0, 0.8)

.project_lightbox_image
  background-color: rgba(110, 110, 110, 0.1)  