@import "~aos/dist/aos.css"
@import "./GeneralStyle.sass"

.project_intro
  background-image: url('../images/light-bulb-min.jpg')
  background-repeat: none
  background-size: cover
  background-color: rgba(0, 0, 0, 0.7)
  background-blend-mode: darken

.project_intro_text
  text-shadow: 5px 5px #e2e2e2c4

.projects_works_overlay
  &::before
    content: "<"